#title {
  background-color: #ff4c68;
}

/* navbar */
.navbar-brand {
  font-family: 'Montez';
  font-size: 2rem;
}

.brand-name:hover {
  color: #000;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: lighter;
}

.container-fluid {
  padding: 3% 15% 8%;
}

.image {
  transform: rotate(20deg);
  width: 20%;
  margin-left: 5%;
  position: absolute;
}

h1 {
  font-family: 'Montserrat';
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.dwnld-btn {
  margin: 10% 3% 5% 0;
}

.btn:hover {
  color: #8f8f8f;
}

#features {
  padding: 10% 5%;
  text-align: center;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.icon {
  font-size: 80px;
  color: #ff8172;
}

.icon:hover {
  color: #ff4c68;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 6%;
}

.features-txt {
  width: 50%;
  margin: 0 auto;
}

p {
  color: #8f8f8f;
}

#testimonials {
  background-color: #ef8172;
  text-align: center;
}

.tst-img {
  border-radius: 100%;
  width: 20%;
}

.testimonial-text {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 5%;
}

em {
  font-family: "Montserrat";
  color: #fff;
  font-size: 1rem;
  margin-left: 4%;
}

.carousel-item {
  padding: 12% 25%;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-img {
  width: 15%;
  padding: 0 15px;
  margin-bottom: 5%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.card {
  width: 18rem;
  height: 22rem;
}

.pricing-card {
  padding: 15px;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 2% 20%;
}

.cta-txt {
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
  font-size: 2.5rem;
}

.btn2 {
  margin: 50px 0;
}

#footer {
  text-align: center;
  padding: 5%;
}

.icon2 {
  font-size: 1.5rem;
  padding: 6px;
}

.icon2:hover {
  color: #ff4c68;
}

.footer-txt {
  font-size: 12px;
  padding: 20px;
}

/* media */
@media (max-width:1000px) {
  #title {
    text-align: center;
  }

  .image {
    transform: rotate(0);
    position: static;
    width: 10rem;
  }
}
